@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "PlusJakartaSans-Bold";
    src: url("../PlusJakartaSans-Bold.ttf")
}

@font-face {
    font-family: "PlusJakartaSans-Medium";
    src: url("../PlusJakartaSans-Medium.ttf")
}